* {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

html {}

body {
  margin: 0;
}

/*------------ página principal -----------*/

.header {
  background: url(https://images.unsplash.com/photo-1507924267304-e51febff7b1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=708&q=80) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

.header2 {
  background: url(https://images.unsplash.com/photo-1556912300-3017f3de2aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80) no-repeat center;
  background-size: cover;
  min-height: 100vh;
  display: block;
}

.header .navbar {
  background-color: transparent !important;
}

.text-block {
  position: absolute;
  top: 35%;
  left: 120px;
  color: white;
  max-width: 40%;
  font-size: 10px;
}

.text-block2 {
  position: relative;
  left: 5%;
  color: white;
  max-width: 40%;
  font-size: 10px;
  padding-top: 33%;
}

.faded {
  color: #C9C9C9;
}

/*-------- reestablecer contraseña --------*/
.resetPass {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 110px;
  padding-bottom: 40px;
}

.form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-resetPass {
  width: 100%;
  max-width: 425px;
  padding: 15px;
  margin: auto;
}

/*---------- Crear cuenta ----------*/

#regForm {
  /*background-color: #ffffff;*/
  margin: 0 auto;
  padding: 20px;
  width: 85%;
  min-width: 450px;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px 20px;
  background-color: #B2B2B2;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;

}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #00A2FF;
  opacity: 1;
}

/*---------- Principal al elegir perfil ----------*/
.navCol {
  background-color: #1a1d20;
  height: 100vh;
  position: fixed;
}

/*Cómo centrar cosas verticalmente*/
.padre {
  padding: 7% 0;
}

.centrado {
  padding: 15% 0;

}

.sideElement {
  border: none !important;
  margin: 35px 0;
  color: white !important;
  background-color: #1a1d20 !important;
}

/*---------------- Movie carousel -----------------*/
.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 4em;
  max-width: 4em;
}

/*---------------- buscar -------------------------*/
.busqueda {
  margin: 2% 5%;
}

.icon {
  background-color: #464646;
  opacity: 0.5;
  color: white;
}

.entry {
  width: calc(100% - 48px);
  border: 1px solid #464646;
  height: 45px;
  border-radius: 0 5px 5px 0;
  background-color: #464646;
  opacity: 0.5;
  color: white;
  padding-left: 5px;
  font-size: 20px;
}

input[class*="entry"]::placeholder {
  color: white;
}

.res {
  margin-top: 30px;
}

.grid-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 287px 287px 287px 287px;
  /*background-color: #2196F3;*/
  /*padding: 10px;*/
  grid-column-gap: 25px;
  grid-gap: 25px;
}

.grid-item img {
  background-color: rgba(255, 255, 255, 0.8);
  /*padding: 20px;*/
  font-size: 30px;
  text-align: center;
  min-height: 160px;
  max-height: 160px;

}