* {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

html {}

body {
  margin: 0;
}

/*------------ página principal -----------*/

.header {
  background: url(https://images.unsplash.com/photo-1507924267304-e51febff7b1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=708&q=80) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

.header2 {
  background: url(https://images.unsplash.com/photo-1556912300-3017f3de2aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80) no-repeat center;
  background-size: cover;
  min-height: 100vh;
  display: block;
}

.header .navbar {
  background-color: transparent !important;
}

.blackout {
  background-color: #15171a;
  color: white;
}

.blackout .navbarProf {
  background-color: transparent !important;
}

.text-block {
  position: absolute;
  top: 35%;
  left: 120px;
  color: white;
  max-width: 40%;
  font-size: 10px;
}

.text-block2 {
  position: relative;
  left: 5%;
  color: white;
  max-width: 40%;
  font-size: 10px;
  padding-top: 33%;
}

.faded {
  color: #C9C9C9;
}

/*-------- reestablecer contraseña --------*/
.resetPass {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 110px;
  padding-bottom: 40px;
}

.form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-resetPass {
  width: 100%;
  max-width: 425px;
  padding: 15px;
  margin: auto;
}

/*---------- Crear cuenta ----------*/

#regForm {
  /*background-color: #ffffff;*/
  margin: 0 auto;
  padding: 20px;
  width: 85%;
  min-width: 450px;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px 20px;
  background-color: #B2B2B2;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;

}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #00A2FF;
  opacity: 1;
}

/*---------- Principal al elegir perfil ----------*/
.navCol {
  background-color: #1a1d20;
  width: 64px;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
}

/*Cómo centrar cosas verticalmente*/
.padre {
  padding: 10% 0;
}

.centrado {
  padding: 15% 0;

}

.sideElement {
  border: none !important;
  margin: 35px 0;
  color: #333333 !important;
  background-color: #1a1d20 !important;
}

.sideElement:hover {
  border: none !important;
  margin: 35px 0;
  color: #333333 !important;
  background-color: #2F3336 !important;
}

.sideElementActive {
  border: none !important;
  margin: 35px 0;
  color: white !important;
  background-color: #2F3336 !important;
}

/*---------------- Movie carousel -----------------*/
.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 4em;
  max-width: 4em;
}

/*---------------- buscar -------------------------*/
.busqueda {
  margin: 2% 5%;
}

.icon {
  background-color: #464646;
  opacity: 0.5;
  color: white;
}

.entry {
  width: calc(100% - 48px);
  border: 1px solid #464646;
  height: 45px;
  border-radius: 0 5px 5px 0;
  background-color: #464646;
  opacity: 0.5;
  color: white;
  padding-left: 5px;
  font-size: 20px;
}

input[class*="entry"]::placeholder {
  color: white;
}

.res {
  margin-top: 30px;
}

.grid-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  /*background-color: #2196F3;*/
  /*padding: 10px;*/
  grid-column-gap: 25px;
  grid-gap: 25px;
}

.grid-item img {
  background-color: rgba(255, 255, 255, 0.8);
  /*padding: 20px;*/
  font-size: 30px;
  text-align: center;
  min-height: 160px;
  max-height: 160px;
  min-width: 270px;
  max-width: 270px;
}

.grid-item:hover {
  -webkit-filter: brightness(60%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.grid-container2 {
  padding: 0 auto;
  margin-top: 10%;
  display: grid;
  grid-template-columns: 180px 180px 180px;
  grid-column-gap: auto;
  grid-gap: 25px;
  margin: 40px 25%;
  justify-content: center;
}

.grid-item2 img {
  /*padding: 20px;*/
  font-size: 30px;
  text-align: center;
  min-height: 160px;
  max-height: 160px;
  min-width: 160px;
  max-width: 160px;
}

.grid-item2:hover {
  -webkit-filter: brightness(40%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.profiles {
  margin-top: 15%;
}

/*home css*/
/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.contenedor-titulo-controles h3 {
  color: #fff;
  font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
  background: #fff;
  height: 3px;
  width: 10px;
  cursor: pointer;
  border: none;
  margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
  background: red;
}

/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
  margin-bottom: 20px;
}

.peliculas-recomendadas .contenedor-principal {
  display: flex;
  align-items: center;
  position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  height: 80%;
  top: calc(50% - 40%);
  line-height: 40px;
  width: 70px;
  color: #fff;
  cursor: pointer;
  z-index: 500;
  transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
  background: rgba(0, 0, 0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
  left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
  right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carousel {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
  display: flex;
  flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
  min-width: 20%;
  transition: .3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
  transform: scale(1.2);
  transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
  width: 100%;
  vertical-align: top;
  min-height: 150px;
  max-height: 150px;
}

.peliculaBig img {
  min-height: 225px;
  max-height: 225px;
  transition: .3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}

.peliculaBig:hover {
  -webkit-filter: brightness(50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.pelicula:hover {
  -webkit-filter: brightness(50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.btnPerfil {
  background-color: transparent;
  border: none;
}